body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
    padding: 8px;
}
a:hover {
    color: #ff6600;
}

.addticket-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*            FORM             */

.submit_ticket-form {
    width: 50%
}
.submit_ticket-form label {
    font-size: 16px;
    margin-bottom: 13px;
}
  
.submit_ticket-form p {
    color: 	#404040;
    text-shadow: 1px #404040;
}
.submit_ticket-form input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: 1px solid #ccc;
}
.submit_ticket-form textarea {
    width: 100%;
    margin: 5px 0 22px 0;
    border: 1px solid #ccc;
    padding: 16px;
    font-size: 16px;
    height: 130px;
}
.submit_ticket-form select {
    margin: 5px 0 22px 0;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 8px;
}
.submit_ticket-form input[type=submit] {
    color: white;
    background-color: #ff6600;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 8px;
}
.submit_ticket-form input[type=reset] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
}
.submit_ticket-form-file {
    margin: 8px 0;
}
  
/*              ARTICLE               */

.app__section-div3 {
    width: 20%
}
.div3-h2 {
    padding: 10px;
}
.div3-article {
    display: inline;
}
.article-text {
    font-size: 18px;
}
.article-img {
    width: 40px;
    height: 40px;
}

/*              FIRST LINE             */

.app__createAcc-line {
    margin-top: 80px;
    background-color: rgb(235,235,235);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.app__createAcc-line span {
    margin-left: 100px;
}

.app__search {
    display: flex;
    flex-direction: row;
    padding: 13px;
    width: 500px;
    height: 35px;
    margin: 0px 100px;
    
}
.app__div1-search {
    display: block;
    width: 100%;
    text-align: center;
    border: none;

}
.app__div1-button {
    width: 43px;
    height: 35px;
}

@media screen and (max-width: 1024px) {
    .addticket-main {
        display: flex;
        flex-direction: column;
    }
    .submit_ticket-form {
        width: 90%;
        margin: 10px 40px;
    }
    .app__section-div3 {
        width: 90%;
        margin: 10px 30px;
    }
    .app__createAcc-line span {
        /* display: flex; */
        /* flex-direction: column; */
        margin-left: 30px;
        font-size: 14px;
    }
    .app__search {
        width: 300px;
        margin: 0px 30px;
    }
    .app__div1-button {
        width: 40px;
        height: 35px;
    }
}
@media screen and (max-width:540px) {
    .app__createAcc-line {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        height: 100px;
    }
    .app__createAcc-line span {
        margin: 10px 20px;
        font-size: 14px;
    }
    .app__search {
        width: 440px;
    }
}
/*                 HEADER                */

.app__header {
    width: 100%;

    padding: 0 15px;
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
    position: fixed;
    /* change height  */
    height: 80px;

    background: url("../images/background.png");
    background-size: cover;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2px);
    z-index: 2;
    
    /* Defines how the width and height of an element are calculated */
    box-sizing: border-box;
}

.app__header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.app__header-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
.app__header-h1 {
    color: white;
    font-size: 25px;
}
.app__header-menu {
    display: none;
}
.app__header-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__header-list-item {
    padding: 18px 18px 22px;
    position: relative;
    color: white;
}
.app__header-list-item:hover {
    border-bottom: 4px solid #ff6600;
}
.app__header-cancel {
    display: none;
    height: 60px;
    width: 60px;
}
.app__header-menu-list{
    background-color: #003399;
    list-style-type: none;
    position: absolute;
    right: 35;
    padding: 5px;
}
.app__header-menu-item {
    padding: 5px;
}
.app__header-menu-item:hover, .active {
    transition: 0.3s ease-out;
    color: #ff6600;
}

/*          FOOTER       */

.app__footer {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.app__footer-p {
    padding: 18px;
    font-size: 25px;
}
.app__footer-text{
    font-size: 18px;
    margin: 8px;
}
.app__footer-button {
    margin: 15px 0 10px;
    padding: 13px;
    border-radius: 10px;
    border : none;
    background-color: Gray;
    color: white;
    font-size: 15px;
}

@media screen and (max-width:540px) {
    .app__header {
        height: 60px;
        padding: 0 15px;
    }
    .app__header-div {
        height: 50px;
    }
    .app__header-logo {
        margin-left: 0;
    }
    .app__header-h1 {
        font-size: 23px;
    }
    .app__header-img {
        display: flex;
        height: 70px !important;
        width: 70px !important;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .app__header-list{
        display: none;
    }
    .app__header-menu {
        display: block;
    }
    .app__header-img {
        display: flex;
        height: 80px;
        width: 80px;
        align-items: center;
    }
}
