 <!-- <html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/Register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/script.js"></script>
<body>

    <header class="app__header">
        <div class="app__header-div">
        <img class="app__header-logo" src="images/logo.png" alt="logo" />
            <h1 class="app__header-h1">Almashines</h1>
        </div>

        <div class="app__header-menu">
            <button onclick="openMenu()" style="background-color: transparent; border: none;">
                <img id="menu" class="app__header-img" src="images/menu.png" style="display: block;">
                <img id="cancel" class="app__header-img" src="images/cancel.png" style="display: none;padding: 10px;width: 60px;height: 60px;" >
            </button>
                  <ul id="list" class="app__header-menu-list" style="display: none;">
                      <li class="app__header-menu-item">
                          <a href="<?php echo base_url() ?>">Home</a>
                      </li>
                      <li class="app__header-menu-item">
                          <a href="showtickets">My Area</a>
                      </li>
                      <li class="app__header-menu-item">
                          <a href="<?php echo base_url() ?>">Knowledge Base</a>
                      </li>
                      <li class="app__header-menu-item">
                          <a href="<?php echo base_url() ?>">Community</a>
                      </li>
                    <li class="app__header-menu-item">
                          <a href="signin">Sign In</a>
                      </li>
                      <li class="app__header-menu-item">
                          <a href="register">Sign Up</a>
                      </li>
                    
                  </ul>
          </div> 
        
        <ul id="menu-list" class="app__header-list">
            <li class="app__header-list-item" title="Home"><a href="<?php echo base_url() ?>">Home</a></li>
            <li class="app__header-list-item"><a href="showtickets">My Area</a></li>
            <li class="app__header-list-item"><a href="<?php echo base_url() ?>">Knowledge Base</a></li>
            <li class="app__header-list-item"><a href="<?php echo base_url() ?>">Community</a></li>
            <li class="app__header-list-item"><a href="signin">Sign In</a></li>
            <li class="app__header-list-item"><a href="register" title="Sign Up">Sign Up</a></li>
            <li class="app__header-list-item">A<sup><small>+</small></sup></li>
        </ul>
    </header> -->
    
    <div style="height: 1px;"></div>
    <div class="app__createAcc-line">
        <span>Create Account</span>
        <div class="search-container">
            <form class="app__search">
                <input class="app__div1-search" type="text" placeholder="Search articles">
                <input class="app__div1-button" type="image" src="images/search.png" alt="search">
            </form>
        </div>
    </div>

    <div class="app__register-main">

        <div class="app__register-form">
            <h1>Sign Up</h1>
            <span>Create an account to submit tickets, read articles and engage in out community.</span>

            <form ng-controller="registerController" ng-submit="register()">
            <span style="color: #FF0000">{{ message }}</span><br>
                <input ng-model="name" class="app__register-form-input" type="text" placeholder="Name" name="name" value="">
                
                <input ng-model="email" class="app__register-form-input" type="text" placeholder="Email" name="email">
                
                <input ng-model="password" class="app__register-form-input" type="password" placeholder="Password" name="password">

                <input ng-model="conpassword" class="app__register-form-input" type="password" placeholder="Confirm Password" name="confirmPassword">

                <input type="submit" value="submit" name="submit" class="signup_form_button"></input>
            </form>

        </div>
        <div class="app__register-list">
            <div class="app__register-list-item">
                <img src="images/user.png">
                
                <div>
                    <span>Already a member?</span>
                    <span style="color: #ff6600;">Sign In</span>
                
                    <p>To submit tickets, browse through articles and participate in the community.</p>
                </div>
            </div>
            
            <div class="app__register-list-item">
                <img src="images/agent.png">
                <div>
                    <span>Are you an Agent?</span>
                    <span style="color: #ff6600";>Login here</span>
                
                    <p>You will be taken to the agent interface.</p>
                </div>
            </div>
        </div>
    </div>